pkgbase = anirss
	pkgdesc = Search nyaa.si and hand the result to qBittorrent
	pkgver = 0.2.5
	pkgrel = 1
	url = https://github.com/marcusbandit/anirss
	arch = any
	license = GPL-3.0-or-later
	depends = python
	depends = fzf
	source = anirss-0.2.5.tar.gz::https://github.com/marcusbandit/anirss/archive/refs/tags/v0.2.5.tar.gz
	sha256sums = ef85e1654a080a0be4883f564d24716f71ee0c55a0a405bc3805972049682f5a

pkgname = anirss
